@{
    ViewBag.Title = "Layout1";
}

<html>
    <head>
        <title></title>
        <link href="~/bootstrap.css" rel="stylesheet" />
        <script src="~/Scripts/jquery-ui-1.8.20.js"></script>
        <script src="~/bootstrap.js"></script>
        <script>
           
    </script>
       
    </head>
    <body>
        
        @RenderBody()

    </body>
    
    
    
</html>
