@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
   <style>
        body{
           background:url('../../images/pic1.jpeg' ) no-repeat 
        }
            </style>         
        <div class="jumbotron" style="background-color:mediumaquamarine" >
            <div class="row">
                <div class="col-md-6">
            <h1 style="color:aliceblue">Online PQuiz</h1>
            <p style="color:aliceblue">This is a free website for programing students<br />
                They can give quizes here for different programing subjects<br />
                And can view their results
            </p>
             <p><a class="btn btn-primary btn-lg" role="button" href="/Home/SignIn">Free Register</a></p></div>
            <div class="col-md-2"></div>
                <div class="col-md-4">

            <p><img src="~/images/pic3.jpg" style="height:270px;width:270px"/> </p>
                </div>

        </div>
            </div>

 
