@{
    Layout = "~/Views/Shared/_layout4.cshtml";
}

<!DOCTYPE html>


    <style>
        body
        {
            background-color: aquamarine;
        }
    </style>
    <div>
        <form method="post" action="/Student/pfQuiz">
        <h2>WellCome to Programing Fundamental Quiz</h2>
        <p> There is 8 question for this quiz<br />
            After Attempting Quiz Finish Quiz<br />
            you can view Result by click on result
        </p>
        <input type="submit" value="Start" />
        </form>
    </div>

