
@{
    Layout = "~/Views/Shared/_Layout4.cshtml";
}

<!DOCTYPE html>
<style>
    body
    {
        background-color:aquamarine
    }
</style>

    <div>
        <br /><br /><br /><br /><br /><br />
        <div class="col-md-4"></div>
        <div class="col-md-4">
        <h4>Name: @ViewBag.name</h4>
       <table border="1">
      <tr style="height:50px;width:300px">
            <td style="width:300px;background-color:#0361A8;color:white">Marks</td>
          <td style="width:300px;background-color:#0361A8;color:white">Persentage %</td>
          <td style="width:300px;background-color:#0361A8;color:white">Status</td>
      </tr >  
           <tr style="height:100px;width:300px">
           <td style="height:100px;width:300px">@ViewBag.Marks</td>
           <td style="height:100px;width:300px"> @ViewBag.Persentage</td>
          <td style="height:100px;width:300px"> @ViewBag.status</td> 
            </tr>
         
           </table>
        </div>
       
    </div>

