@{
    Layout ="~/Views/Shared/_layout4.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>EadDescription</title>
</head>
<body>
    <div>
         <style>
        body
        {
            background-color: aquamarine;
        }
    </style>
    <div>
        <form method="post" action="/Student/eadQuiz">
        <h2>WellCome to EnterPrise  Quiz</h2>
        <p> There is 8 question for this quiz<br />
            After Attempting Quiz Finish Quiz<br />
            you can view Result by click on result
        </p>
        <input type="submit" value="Start" />
        </form>
    </div>
        
    </div>
</body>
</html>
